@import "tailwindcss";

@theme {
  --color-background: #f6f1e8;
  --color-foreground: #111111;

  --color-olive: #6b7a3d;
  --color-olive-dark: #556230;

  --color-section: #eee6d7;
  --color-card: #fbf7ef;
  --color-footer: #e8decd;
  --color-border: #d6ccba;
  --color-muted: #5f5a52;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-bebas);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}
